* {
    padding: 0;
    margin: 0;
}
.background {
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.innersquare {
    width: 15%;
    height: 50%;
    background-color: #1a7281	;
    margin: auto;
    position: relative;
    top: 27%;
    border-radius: 10px;
    padding: 10px 20px ;
 
}
.logo {
    width: 40px;
    margin: -7px 80px;
    
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
    font-size: 25px;

}
form p {
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
}
form input {
    width: 100%;
    margin-bottom: 15px;

}
.innersquare input[type="text"], input[type ="password"] 
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px
}
.innersquare input[type="Submit"]
{
    border-radius: 5px;
    color: rgb(90, 89, 89);
    border: none;
    cursor: pointer;
}
.innersquare input[type="Submit"]:hover {
    background-color: aquamarine;
    transform: scale(1.05);
}
a {
    text-decoration: none;
    color: aliceblue;
    line-height: 23px;
}


